div > div{
   padding: 5px;
}
.container {
    display: grid;
    grid-gap: 3px;
    background-color: rgb(98, 88, 156);
    grid-template-columns: repeat(12,1fr);    
    grid-template-rows: 80px 40px auto 1px;    
    width: 100%;
    height: 95%;    
}
.header {
    display: flex;
    background-color: rgb(50, 46, 116);
    border-radius: 6px;
    padding: 20px;
    grid-row: 1;
    grid-column: 1 / -1;
    color: rgb(255, 255, 255);
    font-size: 20px;       
}
.header > .welcome {
    grid-row: 1;    
    grid-column: 1/ 3; 
    margin-right: 100px;   
}
.header .search{
    border-radius: 6px;
    width: 30%;
    height: 40px;
    margin-right: 100px;
    flex-shrink: 1;
    flex-basis: 500px;
}
.header .signin {    
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 1px solid gold;
    margin-right: 50px;
    grid-column: 10 / 11;    
    grid-row: 1;    
    height: 17px;    
    margin-left: auto;
}
.header .signup {
    /* background-color: orange; */
    font-size: 20px;
    border: 1px solid gold;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    grid-column: 11 / 12;    
    grid-row: 1;
    height: 17px;    
}
.header .cart {
    grid-row: 1;
    grid-column: 12 / -1;
}
.header .cart img {
    width: 50px;
    height: 35px;
}
.menu {
    display: flex;
    background-color: rgb(23, 7, 253);
    border-radius: 6px;
    grid-row: 2;
    grid-column: 1 / -1;
    color: rgb(255, 255, 255);
    font-size: 20px;       
}
.menu .allitems {
    border: 1px solid gold;
    margin-right: 10px;
    grid-row: 2;    
    grid-column: 1 / 2; 
}
.menu .services {
    border: 1px solid gold;
    grid-row: 2;    
    grid-column: 2 / 3;
}
.content {
    background-color: rgb(243, 243, 225);
    grid-row: 3;
    grid-column: 1 / -1;    
}
.footer {    
    grid-row: 4;
    grid-column: 1 / -1;
}