.dropbtn {
    background-color: rgb(153, 212, 187);
    color: white;
    /* padding: 10px; */
    /* font-size: 16px; */
    font-size: 20px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}