p {
    font-family: Courier, monospace;
  } 
.footer {
    padding-top: 40px;
    position: relative;
    clear: both; 
    bottom: 0;
  }
  .validator {
    width: 8%;
    float: left;
  }
  h1 {
    font-family: ;
  }
  body {
    background-color: rgb(119, 115, 100);
  }
  .header {
    background-color: #5e6e3e;
  }
  #mymoods {
    margin-bottom: 30px;
  }
  #right-img {
    float:left;
    border-bottom: 30px;
  }
  #left-img {
    float: left;
    margin: auto;
    width: 50%;
    border-bottom: 30px;
  }  