p {
    font-family: Courier, monospace;
  } 
.footer {
    position: relative;
    bottom: 0;    
  }
  .validator {
    width: 8%;
    float: left;
  }
  body {
    background-color: rgb(177, 176, 171);
  }
  .header {
    background-color: #bd9854;
  }