p {
    font-family: Courier, monospace;
  } 
footer {
    padding-top: 40px;
    position: relative;
    clear: both; 
    bottom: 0;
  }
  .validator {
    width: 8%;
    float: left;
  }
  body {
    background-color: rgb(177, 176, 171);
  }
  .header {
    background-color: #b97b07;
  }
  #mymoods {
    margin-bottom: 30px;
  }
  #right-img {
    float:left;
    border-bottom: 30px;
  }
  #left-img {
    float: left;
    margin: auto;
    width: 50%;
    border-bottom: 30px;
  }  