label {
    width: 150px;
    height: 20px;
    font-weight: bold;
    margin: 13px 10px 13px 5px;
}

textarea {
    width: 237px;
    margin: 10px;
}

input {
    width: 237px;
    height: 20px;
    margin: 10px;
}

select {
    width: 245px;
    height: 30px;
    margin: 10px;
}

.underline {
    text-decoration: underline;
}

.required:after {
    content: " *";
    color: red;
}

#addrlabel {
    margin-bottom: 130px;
}

#address {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-gap: 3px;
    border: 1px solid rgb(153, 212, 187);
    background-color: rgb(247, 252, 251);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 40px 550px 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.header {
    display: flex;
    background-color: rgb(153, 212, 187);
    padding: 5px;
    grid-row: 1;
    grid-column: 1 / -1;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.header .welcome {
    grid-column: 10/ 12;
    margin-right: 60px;
}

.underline .register {
    grid-row: 2;
}

.register {
    grid-row: 2;
    grid-column: 1/ -1;
}

.user {
    display: flex;
    grid-row: 3;
    grid-column: 1 / 2;
    flex-direction: column;
    height: 100%;
}

.userfields {
    display: flex;
    grid-row: 3;
    grid-column: 2 / 5;
    flex-direction: column;
}

.food {
    display: flex;
    grid-row: 3;
    margin-left: 50px;
    grid-column: 6 / 7;
    flex-direction: column;
}

.foodfields {
    display: flex;
    grid-row: 3;
    grid-column: 7/ -1;
    flex-direction: column;
}

#chequefield {
    margin-top: 10px;
}

#checkboxlabel {
    margin-right: 1px;
    margin-top: 30px;
}

#paymentmodefield {
    margin-top: 60px;
    width: 100px;
    padding: 5px;
}

#chequefield {
    margin-top: 30px;
}

#chequelabel {
    margin-top: 80px;
}

.submit {
    display: flex;
    /* padding: 20px; */
    grid-row: 4;
    grid-column: 1 / -1;
    color: rgb(255, 255, 255);
    background-color: rgb(200, 211, 206);
    font-size: 20px;
    justify-content: center;
}

.submit input {
    grid-column: 7/ 7;
    background-color: rgb(153, 212, 187);
    width: 90px;
    height: 30px;
    margin: 10px 2px 10px 5px;
}


/* .submit .submitform {
    height: 20px;
    margin-bottom: 13px;
}

.submit .reset {
    width: 200px;
    height: 20px;
} */

.footer {
    grid-row: 5;
    grid-column: 1 / -1;
    margin-left: 5px;
}